<h1>Feature Requests</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Description</th>
      <th>Votes</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @feature_requests.each do |feature_request| %>
      <tr>
        <td><%= feature_request.subject %></td>
        <td><%= feature_request.description %></td>
        <td><%= feature_request.votes %></td>
        <td><%= link_to 'Show', feature_request %></td>
        <td><%= link_to 'Upvote', upvote_feature_request_path(feature_request) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feature request', new_feature_request_path %>
