<p id="notice"><%= notice %></p>

<h1><%= @feature_request.subject %></h1>
<p><strong>Description</strong><span class="label label-default"><%= @feature_request.status %></span></p>
<div class="well">
	<p><%= @feature_request.description %></p>
</div>

<%= link_to 'Edit', edit_feature_request_path(@feature_request) %> |
<%= link_to 'Back', feature_requests_path %>
